.main-wrapper {
    display: flex;
    flex-direction: column;
    width: clamp(65vw, 1200px, 90vw);
    margin: 50px auto;
    gap: var(--gap);
}
.main-wrapper__nav {
    margin-bottom: var(--gap);
}
.main-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}
.hero__button {
    margin-top: 75px;
}

@media screen and (max-width: 600px) {
    .hero__button {
        margin-top: 50px;
    }
}
