:root {
    --gap: 150px;
    --big-shadow: 0 5px 10px rgb(10 0 143 / 40%);
    --regular-shadow: 0 5px 10px rgb(10 0 143 / 10%);
    --small-shadow: 0 2px 5px #5048ff1f;
    --accent-purple: #5048ff;
}

@media screen and (max-width: 1024px) {
    :root {
        --gap: 100px;
    }
}
