.button {
    display: inline-block;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--accent-purple);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    box-shadow: var(--small-shadow);
}
.button:hover {
    background-color: #3d33ff;
    transform: scale(0.98);
    box-shadow: 0 2px 9px rgb(10 0 143 / 50%);
}
