.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--regular-shadow);
    transition: all 0.3s cubic-bezier(0, 0, 0.25, 1);
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgb(10 0 143 / 5%);
}
.card__thumbnail {
    width: 100%;
    height: 300px;
    background-color: #79b1ff;
    position: relative;
}
.card__wrapper {
    padding: 30px;
}
.card__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.card__description {
    font-family: var(--font-montserrat);
    margin-bottom: 30px;
    text-align: justify;
}
.card__tags {
    display: flex;
    margin-bottom: 30px;
    gap: 30px;
}
.card__tag {
    font-weight: 500;
    font-size: 14px;
}
.card__links {
    display: flex;
    justify-content: space-between;
}
.card__link {
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;
    color: #000;
}
