.nav {
    display: flex;
    justify-content: flex-end;
}
.nav__wrapper {
    display: flex;
    gap: 100px;
}
.nav--small {
    gap: 50px;
}
.nav__link {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.nav__link--small {
    font-size: 14px;
}
