.projects__gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 75px;
}
.projects__description {
    margin-bottom: 45px;
    font-family: var(--font-montserrat);
}
.projects__title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .projects__gallery {
        grid-template-columns: 1fr;
    }
}
