.projects__gallery {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 150px;
}
.projects__description {
    margin-bottom: 45px;
    font-family: var(--font-montserrat);
}
.projects__title {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 15px;
}
