.tag {
    padding: 10px 15px;
    border: 1px solid #5048ff0a;
    border-radius: 5px;
    box-shadow: var(--small-shadow);
}
.tag--small {
    padding: 5px 10px;
}

@media screen and (max-width: 425px) {
    .tag {
        font-size: 14px;
        padding: 5px 10px;
    }
}
/* @media screen and (max-width: 375px) {
    .tag {
    }
} */
